DJANGO_ENV=production
DJANGO_ENV_FILE=.env

SECRET_KEY=change-this-secret-key
DEBUG=False

ALLOWED_HOSTS=127.0.0.1,localhost,147.45.102.135
CSRF_TRUSTED_ORIGINS=http://147.45.102.135,http://localhost

# Django service DB
DB_ENGINE=django.db.backends.postgresql
DB_NAME=warehouse_web_db
DB_USER=appuser
DB_PASSWORD=pass
DB_HOST=pg-main
DB_PORT=5432
DB_CONN_MAX_AGE=60

# SyncServer
SYNC_SERVER_URL=http://syncserver:8000
SYNC_SITE_ID=
SYNC_DEVICE_ID=
SYNC_DEVICE_TOKEN=
SYNC_CLIENT_VERSION=warehouse-web/1.0
SYNC_SERVER_TIMEOUT=10

# Security
SECURE_SSL_REDIRECT=False