<div class="navbar-left">
    {% include "includes/brand.html" %}
</div>

<div class="navbar-right">
    {% if request.user.is_authenticated %}
        <span class="user-name">{{ request.user.username }}</span>

        <form method="post" action="{% url 'users:logout' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Выход</button>
        </form>
    {% else %}
        <a class="btn btn-secondary" href="{% url 'users:login' %}">Вход</a>
    {% endif %}
</div>