{% extends "base.html" %}
{% block title %}Пользователь SyncServer{% endblock %}
{% block content %}
<div class="card">
<h1>{% if mode == 'edit' %}Редактировать{% else %}Создать{% endif %} пользователя SyncServer</h1>
<form method="post">{% csrf_token %}
    {% for field in form %}
      <div class="form-row">
        <label>{{ field.label }}</label>{{ field }}
        {% if field.errors %}<div>{{ field.errors }}</div>{% endif %}
      </div>
    {% endfor %}
    {% if form.non_field_errors %}<div>{{ form.non_field_errors }}</div>{% endif %}
    <button type="submit">Сохранить</button>
    <a class="btn btn-secondary" href="{% url 'client:root_users' %}">Отмена</a>
</form>
</div>
{% endblock %}
